body {
  margin: 0;
  font-family: "notosans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "notosans";
  src: local("notosans"),
    url(./assets/NotoSans-Regular.ttf) format("truetype");
}